.test-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    padding: 28px 40px;
    margin: 0;
    font-size: 2.4rem;
    font-family: $font-2;
    border-radius: 20px;
  }

  .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 50px;
    z-index: 1000;
  }
}
